[defaults]
inventory=/root/ansible-role-quay/hosts
roles_path=/etc/ansible/roles
collection_path=~/.ansible/collections:/usr/share/ansible/collections
[privilege_escalation]
become=true
become_method=sudo
become_user=root
